* {
	text-align: center;
}

body {
	background-image: url("/resources/background.png");
	background-size: cover;
}

input {
	width: 100px;
}

#error {
	color: red;
}

#player {
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 15px;
	right: 0;
}

#deck {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 25%;
	margin: auto;
}

#opponent1 {
	display: inline-block;
	position: absolute;
	left: 0;
}

#opponent2 {
	display: inline-block;
	position: absolute;
	top: 15px;
	left: 0;
	right: 0;
}

#opponent3 {
	display: inline-block;
	position: absolute;
	right: 0;
}

.cards {
	width: 150px;
}